body.dark-mode{
  background-color: #121212;
  color: #f1f1f1;
}
.dmms-toggle-button{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  z-index: 9999;
}

.dmms-style1 {
  background-color: #fff;
  color: #000;
}
.dmms-style2 {
  background-color: #1e1e2f;
  color: #ddd;
}
.dmms-style3 {
  background-color: #000000;
  color: #eeeeee;
}


/* Toggle Button */
.dmms-toggle-button.bottom-left{
  bottom: 20px;
  right: 20px;
}
.dmms-toggle-button.top-left{
  top: 20px;
  left: 20px;
  bottom: auto;
  right: auto;
}
.dmms-toggle-button.top-right{
  top: 20px;
  right: 20px;
  bottom: auto;
}

.dmms-toggle-button i {
  font-size: 18px;
}

