body.dark-mode{
  background-color: #121212;
  color: #f1f1f1;
}
.dmms-style1 #dark-mode-toggle{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 9999;
}
.dmms-style2 #dark-mode-toggle{
  background-color: #fff;
  color: #000;
  border: 2px solid #ccc;
}
.dmms-style3 #dark-mode-toggle{
  background: linear-gradient(to right, #ff8a00, #e52e71);
  color: #fff;
}